@use "../../sass/helpers/mixins" as *;
@use "../../sass/variables/colors" as *;

.overlay {
  background-color: $overlay-color;
  z-index: 4000 !important;
  &.black {
    background-color: black !important;
    opacity: 1 !important;
  }
}
