@use "../../../sass/helpers/mixins" as *;
@use "../../../sass/variables/colors" as *;
@use "../../../sass/variables/others" as *;

.inputs {
  width: 100%;
  input {
    width: 100%;
  }

  .input-box {
    height: fit-content;
  }
}
