@use "../../../../sass/helpers/mixins" as *;
@use "../../../../sass/variables/colors" as *;
@use "../../../../sass/variables/others" as *;

.headCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  padding-inline: 50px;
  scroll-margin: 110px;
}
