@use "../../sass/helpers/mixins" as *;
@use "../../sass/variables/colors" as *;
@use "../../sass/variables/others" as *;

.addTasks {
  .container {
    // display: flex;
    // flex-direction: column;
    .add {
      flex: 1;
      padding-block: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
