@use "../../../sass/helpers/mixins" as *;
@use "../../../sass/variables/colors" as *;
@use "../../../sass/variables/others" as *;

.statusBar {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: $black-box-shadow;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999999999;

  .item {
    border: none;
  }

  .icon {
    width: 100%;
    @include medias("more mobile") {
      display: none;
    }
    button {
      box-shadow: none;
      color: white;
      font-size: 1.1rem;
      text-transform: capitalize;
    }
  }

  &,
  .item,
  .icon button {
    background-color: $green-1-color !important;
  }
  .map {
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    @include medias("mobile") {
      flex-direction: column;
    }
    .selectCont {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 20px;
      .selectBox {
        flex: 1;
      }
      @include medias("mobile") {
        label {
          flex-basis: 3rem;
        }
      }
    }
  }
}
