@use "../../sass/helpers/mixins" as *;
@use "../../sass/variables/colors" as *;

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: $overlay-color;
  z-index: 3000;
  @include centerbyflex(null);
  .window {
    width: 50vw;
    height: 50vh;
    background-color: $main-color-overlay;
    backdrop-filter: blur(5px);
    @include centerbyflex(null);
  }
}
