@use "../../sass/helpers/mixins" as *;
@use "../../sass/variables/colors" as *;

.overlay {
  background-color: $overlay-color;
  z-index: 99999999999 !important;
  display: block !important;
  transition: 0.5s;
  &.black {
    background-color: black;
  }
}
