$blue-1-color: #16213e;
$blue-2-color: #0f3460;
$blue-3-color: #2f58cd;
$purple-1-color: #3a1078;
$purple-2-color: #533483;
$purple-3-color: #4e31aa;
$pink-color: #be6db7;
$red-1-color: #e94560;
$red-2-color: #a84448;
$yellow-color: #fdd36a;
$orange-1-color: #dc8449;
$orange-2-color: #e9a178;
$beige-color: #f6e1c3;
$grey-color: #2c3333;
$green-1-color: #2e4f4f;
$green-2-color: #0e8388;
$green-3-color: #cbe4de;

$add-color: #4caf50;
$blue-btn: #008cba;
$orange-btn: #f44336;
$grey-btn: #e7e7e7;
$black-btn: #555555;

$white-color: white;
$black-box-shadow: #0000005e;
$main-color-overlay: #00bcd491;
$overlay-color: #333333ad;
