@use "../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "../helpers/mixins" as *;
@use "../variables/colors" as *;
@use "../variables/others" as *;
// start design roles

body *,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-font;
  font-weight: 400;
  background-color: $blue-1-color;
  color: $white-color;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}
.clear {
  clear: both;
}

section {
  padding-block: $padding-top $padding-bottom;
  min-height: 100vh;
}

.input-box input.is-invalid {
  border-color: $red-1-color;
  &:focus {
    border-color: $red-1-color !important;
    box-shadow: 0 0 10px rgba($color: $red-1-color, $alpha: 0.4);
  }
}

/* end global rules  */
