@use "../helpers/mixins" as *;
@use "../variables/colors" as *;
@use "../variables/others" as *;

select,
input,
fieldset {
  border: none;
  outline: none;
}

// start add tasks inputs
.select-box {
  @include centerbyflex(null);
  gap: 15px;
  .select {
    width: 100%;
    position: relative;
    &::before {
      // to make cursor pointer on select
      content: "";
      @include position(null, absolute, 100%, 100%, $left: 0, $top: 0);
      cursor: pointer;
    }
    &::after {
      content: "";
      @include arrow(
        (
          top: calc(100% + 12px),
          right: 30px,
        ),
        7px,
        "top reverse",
        $grey-color
      );
      z-index: -1;
      opacity: 0;
      transition: 0.5s;
    }
    &.open {
      .wrapper {
        top: calc(100% + 12px);
        scale: 1;
        z-index: 1000;
      }
      @include oneValue("select", box-shadow, $blue-shadow);
      &::after {
        opacity: 1;
        z-index: 1000;
      }
    }
    select {
      width: 100%;
      padding: 10px 20px;
      border-radius: 6px;
      box-shadow: $black-shadow;
      pointer-events: none;
      transition: 0.5s;
      background-color: $blue-2-color;
      text-transform: capitalize;
      color: $white-color;
    }
    .wrapper {
      @include position(
        null,
        absolute,
        max-content,
        null,
        $top: 100%,
        $left: -10px
      );
      z-index: -1;
      transform-origin: 50% 0%;
      scale: 1 0 1;
      transition: 0.5s;
      color: $white-color;
      min-width: calc(100% + 20px);
      padding-inline: 15px;
      overflow-y: auto;
      max-height: 30vh;
      &::-webkit-scrollbar {
        display: none;
      }
      .options {
        position: relative;
        width: 100%;
        padding-block: 14px;
        border-radius: 6px;
        box-shadow: $black-shadow;
        background-color: $grey-color;

        li {
          padding: 10px 20px;
          border-radius: 6px;
          transition: 0.5s;
          cursor: pointer;
          &:hover,
          &.active {
            background-color: $blue-2-color;
            box-sizing: $black-shadow inset;
            scale: 1.1;
          }
        }
      }
    }
  }
}
