@use "../../../sass/helpers/mixins" as *;
@use "../../../sass/variables/colors" as *;
@use "../../../sass/variables/others" as *;

nav {
  @include position($blue-3-color, absolute, 100%, null, $bottom: 0, $left: 0);
  translate: 0 100%;
  z-index: 3000;
  .nav-cont {
    @include medias("more small") {
      padding-inline: 100px;
    }
    .name-circle {
      width: 40px;
      height: 40px;
      background-color: $blue-2-color;
      display: grid;
      place-items: center;
    }
    ul.parent {
      @include centerbyflex("vertical");
      @include medias("less small") {
        @include position(
          $purple-1-color,
          absolute,
          100%,
          null,
          $top: 100%,
          $left: -200vw
        );
        row-gap: 10px;
        flex-direction: column;
        padding-block: 20px;
        transition: left 0.5s;
        @include beforeBorder($yellow-color, 0%, 3px, 0.5s 0.5s);
        &.clicked {
          left: 0;
          @include oneValue("&::before", width, 100%);
        }
      }
      // top level lis
      > li {
        position: relative;
        &:hover,
        &.active {
          > a,
          button {
            background-color: $purple-1-color;
            color: $yellow-color;
            @include medias("less small") {
              background-color: $blue-2-color;
            }
          }
        }
      }

      // all lis
      li {
        width: inherit;
        a,
        button {
          @include centerbyflex(null);
          height: $nav-height;
          padding: 10px 20px;
          border-radius: 10px;
          transition: 0.5s;
          color: white;
          text-transform: uppercase;
          width: inherit;
          @include medias("less small") {
            justify-content: flex-start;
          }
        }

        &:hover,
        // &:has(.active),
        &.active {
          > a,
          button {
            translate: 0 -10px;
            box-shadow: $black-shadow;
          }
        }
        &.active ul.child {
          left: 50%;
          @include oneValue("&::before", width, 100%);
          @include medias("less small") {
            height: auto;
            left: 0;
            top: 0;
            opacity: 1;
            overflow: visible;
          }
        }
        ul.child {
          display: flex;
          @include position(
            null,
            absolute,
            null,
            null,
            $left: -200vw,
            $bottom: 0
          );
          translate: -50% 100%;
          transition: 0.5s;
          @include medias("less small") {
            flex-direction: column;
            @include position(
              $blue-2-color,
              relative,
              null,
              0,
              $left: -100vw,
              $top: 50px
            );
            translate: 0 -10px;
            margin-inline: 20px;
            opacity: 0;
            overflow: hidden;
            transition: top 0.5s 0.5s, left 0.5s, opacity 0.5s;
          }
          @include beforeBorder($pink-color, 0, 3px, 0.5s 0.5s);
          li {
            @include oneValue(
              "&:hover a,button",
              background-color,
              $pink-color
            );
            a,
            button {
              @include medias("small") {
                padding: 10px;
              }
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .logo {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: $thin-font;
  }

  .mobile {
    display: none;
    gap: 1rem;
    @include medias("less small") {
      @include centerbyflex("vertical");
    }
    .bar-btn {
      @include centerbyflex(null);
      height: $nav-height;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: $black-shadow;
      font-size: 1.2rem;
      transition: 0.5s;
      cursor: pointer;
      @include oneValue("&:hover,&.active", background-color, $purple-1-color);
    }
  }
}
