@use "../../../sass/helpers/mixins" as *;
@use "../../../sass/variables/colors" as *;
@use "../../../sass/variables/others" as *;

.inputs {
  width: 100%;
  input {
    width: 100%;
  }
  .headCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    .subCont {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 20px;
      .tasks {
        @include flex-gap(40px);
        .task {
          @include flex-gap(20px);
        }
      }
    }
  }
}
