@use "../helpers/mixins" as *;
@use "../variables/colors" as *;
@use "../variables/others" as *;

button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

// start header buttons

.bar-btn {
  @include centerbyflex(null);
  height: $nav-height;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: $black-shadow;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  @include oneValue("&:hover,&.active", background-color, $purple-1-color);
}
// end header buttons
// start add tasks buttons
.start {
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.5s;
  background-color: $blue-btn;
  text-transform: uppercase;
  font-size: 18px;
  &:hover {
    box-shadow: $blue-shadow;
    scale: 1.2;
    rotate: 5deg;
    color: $yellow-color;
  }
}

.input-modify-btn {
  @include centerbyflex(null);
  width: 100%;
  padding: 10px 20px;
  margin: auto auto 0;
  border-radius: 6px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  transition: 0.5s;
  @include oneValue("i", color, var(--btn-color));
  &.minus-btn {
    --btn-color: #{$red-1-color};
    &:hover {
      box-shadow: 0 0 10px $red-2-color;
    }
  }
  &.plus-btn {
    --btn-color: #{$green-2-color};
    &:hover {
      box-shadow: $blue-shadow;
    }
  }
}
.submit-button {
  @include centerbyflex(null, null);
  width: calc(100% - 100px);
  padding: 15px 30px;
  margin-top: 50px;
  margin-inline: auto;
  border-radius: 6px;
  background-color: $orange-btn;
  transition: 0.5s;
  text-transform: uppercase;
  display: block;
  text-align: center;
  &:hover {
    box-shadow: 0 0 6px $red-1-color;
    color: $yellow-color;
    scale: 1.1;
  }
}

// end add tasks buttons
