@use "../helpers/mixins" as *;
@use "../variables/colors" as *;
@use "../variables/others" as *;

.table-cont {
  padding-top: 50px;
  overflow-x: auto;
  .custom-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    th {
      background-color: $blue-3-color;
    }
    th,
    td {
      padding: 20px;
      text-transform: capitalize;
      &:last-child {
        @include one-value-more-properties(
          10px,
          border-bottom-right-radius,
          border-top-right-radius
        );
      }
      &:first-child {
        @include one-value-more-properties(
          10px,
          border-bottom-left-radius,
          border-top-left-radius
        );
      }
    }

    tr {
      transition: 0.5s;
      cursor: pointer;
      &:hover,
      &:has(input:checked) {
        background-color: $blue-2-color;
      }
    }
  }
}
