@use "../../sass/helpers/mixins" as *;
@use "../../sass/variables/colors" as *;
@use "../../sass/variables/others" as *;

.select-box {
  width: 100%;
  position: relative;
  color: white;
  .overlay {
    position: relative;
    cursor: pointer;
    .drop-down-icon {
      @include position(null, absolute, null, null, $left: 5px, $top: 50%);
      translate: 0 -50%;
    }
    select {
      width: 100%;
      background-color: $blue-2-color;
      padding: 10px 20px 10px 25px;
      border: none;
      border-radius: 5px;
      outline: none;
      appearance: none;
      pointer-events: none;
      font-size: 1.1rem;
      color: inherit;
      option {
        display: none;
      }
    }
  }
  .options {
    @include flex-gap(2px);
    @include position(
      $grey-color,
      absolute,
      100%,
      null,
      $right: 0,
      $top: calc(100% + 10px)
    );
    max-height: 300px;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    z-index: 10000;
    color: white;
    li {
      cursor: pointer;
      transition: 0.5s;
      padding: 10px;
      &:hover,
      &.active {
        background-color: $blue-2-color;
        padding-right: 10px;
        border-radius: 5px;
        // color: $yellow-color;
      }
    }
  }
}
